.btn {
    color: white;
    align-self: center;
    width: 40%;
    @extend %grid-center;

    &--gradient {
        background: linear-gradient(350deg, rgba(147, 86, 220, 1) 9%, rgba(255, 121, 218, 1) 70%);

    }

    &--radius {
        /*background: rgb(147, 86, 220);*/
        /*padding: .7rem 1rem;*/
        border-radius: 25px;
        border: none;
        padding: 1rem;
        /*margin-bottom: 2rem;*/
    }

    &__retourHome {
        color: black;
    }

}