.btn {
    color: white;
    align-self: center;
    width: 40%;
    @extend %grid-center;

    &--gradient {
        background: linear-gradient(350deg, rgba(147, 86, 220, 1) 9%, rgba(255, 121, 218, 1) 70%);

    }

    &--radius {

        border-radius: 25px;
        border: none;
        padding: 1rem;

        &:hover {
            box-shadow: 0 3px 10px rgb(0, 0, 0, 0.4);

        }
    }

    &__retourHome {
        color: black;
    }

}