@keyframes loading {

    /*animation teste spinner loading*/
    0% {
        transform: translateY(0em);
    }

    50% {
        transform: translatey(-2em);
    }

    100% {
        transform: translatey(0em);
    }
}

@keyframes fade {

    /*disable display loader spinner*/
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        z-index: 0;
    }
}

@keyframes slideup {

    /*animation affichage progressif du menu*/
    from {
        transform: translateY(1rem);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}