/*Début du code de la page d'acceuil*/
body {
    main {
        & .explore {
            @extend %grid-center;
            padding: 1em;
            background: #eaeaea;

            & i {
                padding: 0 0.5em 0 0;

            }
        }

        & .presentation {
            @extend %grid-center;
            justify-items: center;
            padding: 2em 0 3em;
            background: $gris-clair;
            text-align: center;

            & h2 {
                padding: 0
                    /*5em*/
                ;
            }

            & p {
                padding: 1em 5em 2em;
            }
        }

        & .choice {
            padding: 3em 1em;

            & h2 {
                justify-self: start;
            }

            & ul {
                display: grid;
                @include grid-template-set ($choice);
                grid-gap: 2em;
                margin: 1em 1em 0;
                justify-self: normal;
                counter-reset: section;

                & li {
                    font-size: 1em;
                    padding: 1.5em;
                    background-color: $gris-clair;
                    @extend %box-shadow-radius;
                }

                @media screen and (min-width: 768px) {
                    @include grid-template-set (2);
                }

                @media screen and (min-width: 1024px) {
                    @include grid-template-set (3);
                }
            }

            & li::before {
                counter-increment: section;
                content: counter(section);
                position: relative;
                left: -1.9em;
                padding: 0.3em 0.6em;
                border-radius: 70%;
                background-color: $violet-primaire;
                color: $txt-fond-sombre;
            }

            & li:hover {
                background-color: lighten($violet-primaire, 35%);

                & i {
                    color: $violet-primaire;
                }
            }

            & p {
                display: inline-block;
                position: relative;
                left: -0.7em;
            }

            & i {
                padding: 0 1em 0 0;
            }
        }

        & .restaurants {
            @extend %grid-center;
            @include grid-template-set (1);
            padding: 3em 1em;
            background: $gris-clair;

            & h2 {
                justify-self: start;
            }

            & ul {
                display: grid;
                @include grid-template-set (1);
                grid-gap: 2em;
                justify-self: normal;
                margin: 1em 0;

                @media screen and (min-width: 768px) {
                    @include grid-template-set (2);
                }

                @media screen and (min-width: 1024px) {
                    @include grid-template-set (4);
                }

                & li {
                    display: inline-block;
                    width: 100%;
                }
            }

            & a {
                display: block;
                position: relative;
                padding: 0 0 0.7rem 0;
                color: $txt-fond-clair;
                @extend %box-shadow-radius;


                & .sticker {
                    position: absolute;
                    right: 1em;
                    top: 1em;
                    padding: 0.4em 0.6em;
                    color: $txt-fond-vert;
                    background: $vert-clair;
                    border-radius: 0.2em;
                }

                & img {
                    padding: 0 0 0.5rem 0;
                    width: 100%;
                    height: 12.5em;
                    object-fit: cover;
                    border-radius: 1.5em 1.5em 0 0;
                }

                & h3,
                p {
                    padding: 0 1rem 0.5rem;
                }

                & .btn__like {
                    position: absolute;
                    bottom: 2.5rem;
                    right: 1.5rem;
                    font-size: 1.5em;
                    cursor: pointer;
                }
            }
        }

        /*Fin du code de la page d'acceuil*/

        /*Début du code des menu*/


        & .menu {
            & * {
                font-weight: 400;
            }

            &__pic {
                @extend %grid-center;
                @include grid-template-set ($header);
                /*position: relative;*/

                /*padding: 0 0 0.5rem 0;*/
                & img {
                    object-fit: cover;
                    width: 100%;
                    height: 20em;
                }
            }

            &__detail {
                /*background-color: $gris-clair;*/
                position: relative;
                top: -4rem;
                border-radius: 50px 50px 0 0;

                &__title {
                    font-family: 'shrikhand';
                    font-size: 1.2em;
                    border-radius: 50px 50px 0 0;
                    display: flex;
                    justify-content: center;
                    background-color: $txt-fond-sombre;
                    align-items: center;
                    padding: 1rem;
                    margin-bottom: 2rem;
                }

                & ul {
                    font-family: 'roboto';
                    padding: 0 1em 2em 1em;

                    & h3 {
                        text-transform: uppercase;
                        /*font-weight: 100;*/
                        @include grid-template-set(1);
                        padding-bottom: 1rem;
                        position: relative;

                        /*souligne le texte du titre des différentes listes du menu*/
                        &::after {
                            position: absolute;
                            content: '';
                            height: 2.5px;
                            bottom: 0.5em;
                            /*margin: 0 auto;*/
                            left: 0;
                            right: 0;
                            width: 2.5em;
                            background: $aqua-tertiaire;
                        }

                    }

                    & li {
                        display: flex;
                        overflow: hidden;
                        position: relative;

                        & a {
                            width: 100%;
                            color: black;
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-end;
                            @extend %check-transition;

                            &:hover {
                                width: calc(100% - 5em);
                                @extend %check-transition;
                            }

                            &:hover+.check {
                                transition: all 1s;
                                position: absolute;
                                right: 0;

                                & .fa-check-circle {
                                    transform: rotate(360deg);
                                    @extend %check-transition;
                                }
                            }

                            & .item {
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;

                            }
                        }

                        & .check {
                            position: absolute;
                            right: -5em;
                            top: 0;
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            background-color: $aqua-tertiaire;
                            width: 5em;
                            height: 4.5em;
                            @extend %check-transition;

                            & .fa-check-circle {
                                font-size: 1.5em;
                                color: white;
                                transform: rotate(-360deg);
                            }
                        }

                        & p {
                            height: 100%;
                        }

                        font-weight: 400;
                        margin-bottom: 1rem;
                        border-radius: 15px;
                        padding: .7em 1.5em .7em 1em;
                        line-height: 1.5rem;
                        @extend %box-shadow-radius;
                    }
                }

                &__name {
                    font-weight: bold;
                    font-size: 1.1em;
                    color: black;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

                &__description {
                    /*coupe le texte de chaque item du menu*/
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    padding-right: 1em;
                }
            }
        }

        & .order {
            display: flex;
            justify-content: center;
        }

        & .rest1 {
            & .starter {
                @for $i from 1 through $Rest1-starter-nb {
                    &__#{$i} {
                        @include slideup;
                        animation-delay: $i*.1s;
                    }
                }
            }
        }

        & .plate {
            @for $i from 1 through $Rest1-plate-nb {
                &__#{$i} {
                    @include slideup;
                    animation-delay: $i*.1s;
                }
            }
        }

        & .dessert {
            @for $i from 1 through $Rest1-dessert-nb {
                &__#{$i} {
                    @include slideup;
                    animation-delay: $i*.1s;
                }
            }
        }
    }
}