header {

    @extend %grid-center;
    padding: 1em 0 1em 0;
    width: 100%;


    & h1 {
        font-family: 'Shrikhand', cursive;

    }

    & .btn__retourHome {
        /*width: 100%;*/
        /*justify-self: start;*/
        width: 100%;
        position: absolute;


        & i {
            font-size: 20px;
            padding-left: 2rem;
        }
    }

    /*Postionnement du header des pages menu + flèche retour*/
    & .header__menu {
        display: flex;
        width: 100%;
        justify-content: center;
    }


}