body {

    & .loader {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        font-family: 'shrikhand';
        font-size: 5vw;
        font-weight: bold;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;

        & .letter {
            padding: .3em;
            background: -webkit-linear-gradient(top, rgba(147, 86, 220, 1) 9%, rgba(255, 121, 218, 1) 70%);
            -webkit-background-clip: text;
            color: transparent;

            @for $i from 1 through $letter {
                &__#{$i} {
                    /*@include slideup;*/
                    animation: loading 3s ease infinite;
                    animation-delay: $i*.1s;
                }
            }
        }

        &--hidden {
            animation-duration: 4s;
            animation-delay: 3s;
            animation-name: fade;
            animation-iteration-count: linear;
            animation-fill-mode: forwards;
            /*animation-delay: 3s;*/
            /*z-index: 0;*/
        }

    }
}